* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: lightblue;
  transition: all 0.3s ease;
}

button,
input {
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header__inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  font-size: 30px;
  color: darkblue;
}

.page-link {
  font-size: 20px;
  background-color: darkblue;
  padding: 11px 30px;
  border-radius: 10px;
  color: #fff;
}

.hero__inner {
  background-color: darkblue;
  color: #fff;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 10px;
  font-size: 30px;
  color: #d0d0d0;
}

.hero__text {
  font-size: 15px;
  color: rgb(155, 155, 155);
}

.back-link {
  color: darkblue;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 50px;
}

.private {
  padding: 20px 0;
}

.private__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.private__form {
  display: flex;
  gap: 5px;
}

.private__input {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.private__btn:hover {
  background-color: rgb(0, 0, 81);
}

.favorite__show-div {
  position: relative;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite-num {
  position: absolute;
  top: -10px;
  right: -15px;
  font-size: 20px;
  background-color: goldenrod;
  padding: 5px;
  width: 35px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.page__list {
  margin-top: 40px;
}

.page__item {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
}

.page__img {
  border-radius: 20px;
}

.page__title {
  margin-bottom: 15px;
  font-size: 25px;
}

.page__title span {
  font-size: 25px;
  color: darkblue;
  font-weight: 700;
}

.page__text {
  font-size: 20px;
}

.favorite-btn {
  padding: 10px 0;
  width: 100%;
  font-size: 25px;
  background-color: darkgoldenrod;
  color: #fff;
  border-radius: 10px;
  margin-top: 20px;
}

.list-title {
  font-size: 30px;
  text-align: center;
  color: darkblue;
}

.list-title.red {
  color: red;
}

.modal,
.second-modal,
.second-modal-muvaffaqiyatli,
.second-modal-avval {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #0009;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.block,
.second-modal.block,
.second-modal-muvaffaqiyatli.block,
.second-modal-avval.block {
  display: flex;
}

.modal-content,
.second-modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 500px;
}

.second-modal-content {
  width: 600px;
  position: fixed;
  left: calc(50% - 280px);
  top: calc(50% - 100px);
}

.modal-content h1,
.second-modal__title {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.second-modal__title--active {
  color: green;
}

.modal-rozilik,
.second-modal-rozilik {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.close-btn,
.second-yopish-btn,
.second-yopish-btn--active,
.second-yopish-btn-avval {
  background-color: gray;
  padding: 20px 30px;
  color: #fff;
  border-radius: 8px;
  font-size: 25px;
}

.ok-btn,
.second-saqlash-btn {
  background-color: darkblue;
  padding: 0 30px;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
}

.second-saqlash-btn.color {
  background-color: red;
}

.favoritepage {
  padding: 20px 0;
}

.favoritepage__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoritepage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 30px;
}

.page__item--active {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.page__item--active img {
  width: 370px;
  height: 500px;
  object-position: top;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.page__title--active {
  font-size: 18px;
}

.page__title--active span {
  font-size: 22px;
}

.page-title--active {
  text-align: center;
  margin-top: 20px;
}

.form {
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  gap: 15px;
}

.form input {
  width: 100%;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.btn {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: darkblue;
  color: white;
}

.btn:hover {
  background-color: rgb(0, 0, 81);
}

.login__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  text-align: center;
  margin-bottom: 10px;
  color: darkblue;
}

.login-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.login-item {
  font-size: 20px;
  background-color: darkblue;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 350px;
  display: inline-block;
}

.text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.back-top-first {
  background-color: darkblue;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 20px;
}

.private__btn {
  padding: 15px 20px;
  background-color: darkblue;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

/* Burger */
.burger-btn {
  border: none;
  display: none;
  background-color: transparent;
}

.open {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.open-span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
  margin-bottom: 4px;
  border-radius: 10px;
}

.burger-div {
  display: none;
  width: 300px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.burger-private__form {
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.burger-private__top-title {
  margin-bottom: 10px;
  width: 100px;
}

.burger-burger-private__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  padding: 20px;
  width: 310px;
}

.burger-favorite-show,
.burger-log-out {
  margin-top: 5px;
  width: 100%;
  padding: 15px 0;
  background-color: goldenrod;
}

.burger-log-out {
  background-color: gray;
}

.burger-search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  padding: 20px;
  width: 310px;
}

.top {
  display: flex;
  gap: 15px;
}

.favoritepage__list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 100%;
}

.side-close {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.close-span {
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #000;
  margin-bottom: 4px;
  border-radius: 10px;
}

.btn-div {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.close-span:nth-child(2) {
  display: none;
}

.close-span:nth-child(1) {
  transform: rotate(45deg);
}

.close-span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
}

/* Media Queries */
@media (max-width: 800px) {
  .favorite__show-div {
    margin-right: 0;
  }
  .btn-div {
    display: flex;
  }
  .flex {
    display: flex;
    align-items: stretch;
  }
  .search-div {
    display: none;
  }
  .burger-btn {
    display: block;
  }
  .login-list {
    max-width: 700px;
    width: 100%;
  }
  .login-item:nth-child(2),
  .login-item:nth-child(3),
  .login-item:nth-child(5),
  .login-item:nth-child(6) {
    display: none;
  }
}

@media (max-width: 750px) {
  .page__item {
    flex-direction: column;
  }
  .page__item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

@media (max-width: 700px) {
  .hero__title {
    font-size: 20px;
    text-align: center;
  }
  .hero__text {
    font-size: 15px;
    text-align: center;
  }
  .hero__inner {
    padding: 50px 0;
  }
  .second-modal-content {
    max-width: 400px;
    width: 100%;
    left: calc(50% - 200px);
  }
}

@media (max-width: 650px) {
  .login-list {
    grid-template-columns: 300px;
    justify-content: center;
    display: inline;
  }
  .back-link {
    font-size: 30px;
    margin-bottom: 31px;
    padding: 0;
    display: inline-block;
  }
  .login__title {
    font-size: 20px;
  }
  .login-item {
    max-width: 1000px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
  }
  .form {
    gap: 5px;
    padding: 10px;
  }
  .form input {
    padding: 20px;
    font-size: 18px;
  }
  .modal-content {
    max-width: 400px;
    padding: 10px;
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .private__top {
    flex-direction: column;
  }
  .top {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .hero__title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
  }
  .hero__text {
    font-size: 10px;
  }
  .page-link {
    padding: 10px 20px;
  }
  .hero__inner {
    padding: 50px 0;
  }
  .private__top {
    display: inline;
  }
  .top {
    gap: 0;
    position: relative;
  }
  .private__form {
    flex-direction: column;
  }
  .page-title--active {
    margin-bottom: 20px;
  }
  .page__item {
    width: 100%;
    gap: 10px;
    margin-top: 0;
  }
  .private__form {
    font-size: 18px;
    width: 100%;
  }
  .burger-btn {
    position: absolute;
    top: -40px;
    right: 0;
  }
  .page__item .page__img {
    width: 100%;
    height: 300px;
  }
  .page__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .modal-content {
    max-width: 300px;
  }
  .modal-content .modal__title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .close-btn {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
  }
  .ok-btn {
    width: 60%;
    padding: 15px 0;
    font-size: 20px;
  }
  .page__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  .page__title span {
    font-size: 18px;
    padding-right: 5px;
  }
  .burger-div {
    width: 100%;
    height: 100vh;
  }
  .second-modal-content {
    max-width: 300px;
    left: calc(50% - 150px);
  }
  .second-modal__title {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
  }
  .second-yopish-btn {
    width: 50%;
    padding: 20px 0;
    font-size: 15px;
  }
  .second-saqlash-btn {
    width: 100%;
    padding: 20px 0;
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .favoritepage__top {
    flex-direction: column;
    align-items: stretch;
  }
  .favoritepage__title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

.none {
  display: none;
}

.block {
  display: block;
}
